<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
        bootstrap="bootstrap.php">
    <testsuites>
        <testsuite name="Unit">
            <directory>Vrann/*</directory>
        </testsuite>
    </testsuites>
</phpunit>